<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles-dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">My Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Crypto Markets</a>
                </li>
                <li class="nav-item">
                        <form class="form-inline" method="GET" action="/refresh">
                            <button class="btn btn-danger my-2 my-sm-0">Refresh</button>
                        </form>
                </li>
            </ul>
        </div>
        <form class="form-inline" method="GET" action="/">
                <button class="btn btn-outline-success my-2 my-sm-0">Log Out</button>
        </form>
    </nav>

    <section class="main-dashboard">
        <div class="dashboard-container">

            <div class="dashboard-portfolio">
                    <div class="card shadow-sm" style="width: 90%; margin: auto; height: 95%; margin-top: 0.4rem;">
                        <div class="card-body" style="height: 100%">
                            <div class="top-portfolio">
                                <h2>My portfolio</h2>
                                <%if(user.holdings<1){%>
                                        <p>Currently you have no assets</p>
                                    <%}else{%>
                                <div class="top-portfolio-row">
                                    <div class="column">
                                        <h5>Name</h5>
                                    </div>
                                    <div class="column">
                                        <h5>BUY price</h5>
                                    </div>
                                    <div class="column">
                                        <h5>Quantity</h5>
                                    </div>
                                    <div class="column">
                                        <h5>Value</h5>
                                    </div>
                                </div>
                                <div class="top-portfolio-row-assets">
                                        <%for(let i = 0; i<user.holdings.length; i++){%>
                                            <div class="top-portfolio-row">
                                            <div class="column">
                                                <p><%=user.holdings[i].coin_name%></p>
                                            </div>
                                            <div class="column">
                                                <p><%=user.holdings[i].price%></p>
                                            </div>
                                            <div class="column">
                                                <p><%=user.holdings[i].quantity%></p>
                                            </div>
                                            <div class="column">
                                                <p><%=parseFloat(user.holdings[i].currentPrice).toFixed(2)%></p>
                                            </div>
                                        </div>
                                        <%}%>
                                    </div>
                                        <%}%>
                                
                            </div>
                            <div class="bottom-portfolio">
                                    <form method="POST" action="/add">
                                        <input name="id" style="display: none" value="<%=user._id.toString()%>">
                                        <button type="submit" class="btn btn-primary" style="margin: 0.5rem">Add</button>
                                    </form>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="dashboard-pnl-market">
                <div class="dashboard-pnl">
                        <div class="card shadow-sm" style="width: 90%; margin: auto; height: 95%; margin-top: 0.4rem;">
                            <div class="card-body">
                                <h5 class="card-title">My PnL</h5>
                                <div class="pnl-container">
                                    <div class="mpr_class">
                                        <div class="details-container">
                                            <p>Portfolio Value</p>
                                            <p><%=total%> USD</p>
                                        </div>
                                        
                                    </div>
                                    <div class="mpr_class">
                                        <div class="details-container">
                                            <p>PnL</p>
                                            <p><%=profit%> USD</p>
                                        </div> 
                                    </div>
                                    <div class="mpr_class">
                                            <div class="details-container">
                                                <p>Return</p>
                                                <p><%=rate%>%</p>
                                            </div> 
                                        </div>
                                </div>



                            </div>
                        </div>
                </div>
                <div class="dashboard-market">
                        <div class="card shadow-sm" style="width: 90%; margin: auto; height: 93%;">
                                <div class="card-body">
                                    <h5 class="card-title">Market Preview</h5>
                                    <p>Top Gainers (7 days)</p>
                                    <div class="market-preview-container">
                                        <div class="mpr_column">
                                            <%for(let i = 0; i<5; i++){%>
                                                <div class="img-top-gainer">
                                                <div class="logo-and-des">
                                                <img style="margin-right: 1rem" src=<%=topUrls[i].url%>>
                                                <p><%=topGArr[i].name%></p>
                                                </div>
                                                <p class="last-item"><%=topGArr[i].percent_change_7d%>%</p>
                                                </div>
                                            <%}%>
                                        </div>
                                        <div class="mpr_column phone">
                                            <div class="bitcoin-data">
                                            <img src="/bitcoin.png" alt="bitcoin image">
                                            </div>
                                            <p class="bitcoin-data-p">Current Price:  <%=bitcoinPrice.price%> USD</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>



        </div>




    </section>















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>